td{
  width: calc(100% / 12);
}
/*##display##*/
.header {
  display: contents;
}
page{
  display:block;
}
/*## Margin ##*/
ol,ul,.header {
  margin-top: 0px;
}
page{
  margin:1cm;
}
/*## page-break ##*/
.header {
  page-break-before: always;
}
div{page-break-inside:auto !important;page-break-before : auto;}
page,table, img, svg {
  page-break-inside:auto;
}
page:last-child{
  page-break-after:auto;
}
/*## width & height ## */
.pagecontent{
  width: 100%;
  height: 100%;
}
#polarimg {
  max-width:50%;
}
page{
  width:8.27in;
  height:21cm;
}
/*### Border ###*/
#polarimg {
  border-style: none;
  }
page{
  border:1px solid;
}
.border-bottom {
border-bottom: 1px solid #000 !important;
  }
.border-bottom-colored {
  border-bottom: 1px dashed #dee2e6 !important;
  }
.border-right {
  border-right: 1px solid #dee2e6 !important;
  }
.border-left {
  border-left: 1px solid #dee2e6 !important;
  }
.border-top {
  border-top: 1px solid #dee2e6 !important;
  }
.border{border: 1px solid #000 !important;}
    
.pagecontent{
  padding: 0px;
  table-layout: fixed;
}
page table *{
  padding: 0px !important;
  margin: 0px !important;
}
.header {
  vertical-align:top !important;
}

header.title:before {
counter-increment: chapternum;
content: counter(chapternum) ". ";
}
figcaption:before {
/*counter-increment: figurenum;
content: counter(chapternum) "-" counter(figurenum) "";*/
}

ol,ul {
  padding: 0 !important;
}
body {
font: 12pt Georgia, "Times New Roman", Times, serif;
line-height: 1.1;
}
div{
text-align:justify !important;
}


html,body {
background: rgb(255,255,255);
direction: rtl;
font-size:12pt;
}
#polarimg {
object-fit: contain;
max-height:50%;;
vertical-align: middle;
}
#jobName{
  background-image: var(--bs-gradient) !important;
  --bs-bg-opacity: 1;
  background-color: rgba(37, 135, 239,1) !important;
  font-family: 'AmerHendyAli','Arial';
}
#pageheader{
  /*background-color: hsla(0, 12%, 91%, 0.888);*/
  background-image: var(--bs-gradient) !important;
  --bs-bg-opacity: 1;
  background-color: rgba(13, 110, 253,1) !important;
  font-family: 'AmerHendyAli','Arial';
}
#texttitle{
  background-color: hsla(0, 12%, 91%, 0.888);
  font-family: 'AmerHendyAli','Arial';
}
page{
background: white;
padding:0.5cm;
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
font-size:12pt;
object-fit: contain;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #151515;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #ffc451;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}